<footer class="site-footer h-card">
  <!-- prettier-ignore -->
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>
          <a
            href="https://www.amazon.com/Graham-Leslie/e/B07MQFQWDQ"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fab fa-amazon"></i> Kindle</a
          >
          <br />
          <a
            href="https://www.linkedin.com/in/grahamaleslie"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fab fa-linkedin"></i> LinkedIn</a
          >
          <br />
          <a
            href="https://github.com/grahamleslie"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fab fa-github"></i> GitHub</a
          >
          <br />
          <a
            href="https://grahamsrecipes.tumblr.com"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fab fa-tumblr"></i> Recipes</a
          >
          <br />
          <a
            href="https://www.youtube.com/channel/UCKoPxUfqK_wZAXALlvbdNCA"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fab fa-youtube"></i> YouTube</a
          >
        </p>
        {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
          <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%} {% if site.author.email -%}
          <li>
            <a class="u-email" href="mailto:{{ site.author.email }}"
              >{{ site.author.email }}</a
            >
          </li>
          {%- endif %}
        </ul>
        {%- endif %}
      </div>
      <div class="footer-col">
        <p>© 2020 Graham Leslie</p>
        <p><small>Austin, TX.</small></p>
      </div>
    </div>
  </div>
</footer>
