<footer class="site-footer h-card">
  <!-- prettier-ignore -->
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>
          <a
            href="https://www.linkedin.com/in/grahamaleslie"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fab fa-linkedin" style="min-width: 26px"></i> LinkedIn</a
          >
          <br />
          <a
            href="https://github.com/grahamleslie"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fab fa-github" style="min-width: 26px"></i> GitHub</a
          >
          <br />
          <a
            href="https://www.youtube.com/channel/UCKoPxUfqK_wZAXALlvbdNCA"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fab fa-youtube" style="min-width: 26px"></i> YouTube</a
          >
          <br />
          <a
            href="https://www.amazon.com/Graham-Leslie/e/B07MQFQWDQ"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fab fa-amazon" style="min-width: 26px"></i> Kindle</a
          >
        <br />
          <a
            href="/services"
            ><i class="fas fa-laptop" style="min-width: 26px"></i> Services</a
          >
        </p>
        {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
          <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%} {% if site.author.email -%}
          <li>
            <a class="u-email" href="mailto:{{ site.author.email }}"
              >{{ site.author.email }}</a
            >
          </li>
          {%- endif %}
        </ul>
        {%- endif %}
      </div>
      <div class="footer-col">
        <p>©{{ 'now' | date: "%Y" }} Graham Leslie</p>
      </div>
    </div>
  </div>
</footer>
