---
layout: default
---

<div class="home">
  <!-- prettier-ignore -->
  <div>
    {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}
    <div style="min-height: 164px">
      <p class="lead">
        <img
          class="img img-avatar"
          src="/assets/images/me.jpg"
          alt="This is me."
        />
        I like building things. I am a Sr. Engineering Manager at
        <a href="https://procore.com" target="_blank" rel="noopener noreferrer"
          >Procore</a
        > & the author of three science-fiction novellas:
        <a
          href="https://www.amazon.com/Harbinger-Graham-Leslie-ebook/dp/B07MJJVQY1/ref=sr_1_7?ie=UTF8&qid=1547266859&sr=8-7&keywords=graham+leslie"
          target="_blank"
          rel="noopener noreferrer"
          ><i>The Harbinger</i></a
        >, <a href="/genesys"><i>Genesys</i></a>, and <a
        href="https://amzn.to/3qT5IWN"
        target="_blank"
        rel="noopener noreferrer"
        ><i>Apeiron</i></a
      >.
      </p>
    </div>
    {{ content }}
  </div>
</div>
