---
layout: default
---

<div class="home">
  <!-- prettier-ignore -->
  <div>
    <p class="lead">
      <img
        class="img img-avatar"
        src="/assets/images/me5.jpeg"
        alt="This is me."
      />
      I like building things and racing things. I'm an engineering leader at Apple & have authored 
      <a
        href="https://amzn.to/3HSub7B"
        target="_blank"
        rel="noopener noreferrer"
        >some fiction</a
      >.
    </p>
    <!-- content -->
  </div>
</div>
