---
layout: default
---

<div class="home">
  <!-- prettier-ignore -->
  <div>
    {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}
    <div style="min-height: 164px">
      <p class="lead">
        <img
          class="img img-avatar"
          src="/assets/images/me3.jpg"
          alt="This is me."
        />
        I like building things and racing things. I'm an engineering leader at
        <a href="https://procore.com" target="_blank" rel="noopener noreferrer"
          >Procore</a
        > & the author of three science-fiction novellas:
        <a
          href="https://amzn.to/42sxMkN"
          target="_blank"
          rel="noopener noreferrer"
          ><i>The Harbinger</i></a
        >, 
        <a
          href="https://amzn.to/45Plypa"
          target="_blank"
          rel="noopener noreferrer"
          ><i>Genesys</i></a
        >, and <a
        href="https://amzn.to/3qT5IWN"
        target="_blank"
        rel="noopener noreferrer"
        ><i>Apeiron</i></a
      >. I occasionally write here about some of my projects.
      </p>
    </div>
    {{ content }}
  </div>
</div>
